section {
  margin-bottom: 100px;
}

.home-wrapper {
  margin: ($base-size * 3.5) auto 0 auto;
  padding: ($base-size * 6) ($base-size * 4) 0 ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

/* Services */

.row {
  display: flex;
  flex-wrap: wrap;

  a {
    position: relative;
  }

  img {
    object-fit: cover;
    flex: 1;
    height: 130px;
    width: 100%;
    padding: 3px;
    border-radius: 7px;
    position: relative;
  }
}

.image-content {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
  width: 100%;
  height: 100%;
  color: $color-light;
  top: 0;
  line-height: 0.8;
}

.services h3 {
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-size: 25px;
  transform: scale(.8, 1);
}

.services .row:first-child {
  p {
    opacity: 0;
    transition: all 0.5s;
  }

  .image-content {
    display: flex;
    flex-direction: column;
    transform: translateY(10px);
    transition: 0.5s;
  }
}

.services .row:first-child .image-content:hover { 
  transform: translateY(1px);

  p {
    opacity: 1;
    transform: translateY(-10px);
  }
}

.info-cart {
  width: 100%;
  height: 110px;
  content: '';
  background: $color-main;
  border-radius: 4px;
  position: relative;
  margin: -3px 3px 0 3px;

  p {
    text-transform: uppercase;
  }
}
/* Carousel */
.carousel-section {
  height: 190px;
}

.carousel-cell {
  width: 100%;
}

.carousel-cell-content {
  display: flex;
  
  img {
    width: 33%;
    object-fit: cover;
  }
  
  article {
    margin-left: 20px;

    blockquote {
      margin: 0;
      width: 81%;
    }

    h4 {
      margin: 10px 0;
    }
  }
}
/*  Gallery */
.gallery-wrapper {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  height: 180px;
  border-radius: 7px;
  
  &:hover img {
    filter: brightness(40%);
  }

  .image-icons {
    display: none;
    position: absolute;
    color: lighten($color-main, 10%);
    font-size: 25px;
    z-index: 5;
    transform: translate(140%, 150%);
    cursor: pointer;
    filter: brightness(100%);

    i:hover {
      color: darken($color-main, 20%);
      transform: scale(1.2);
      transition: 0.3s;
    }
  }

  &:hover .image-icons {
    display: block;
  }
}

.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 3px;
  position: relative;
}

.gallery a:last-child {
  color: $color-main;
  margin: 15px 10px;
}